:root {
    --bg-gradient-1: #cc0096;
    --bg-gradient-2: #cc00ad;
    --bg-gradient-3: #b800cc;
    --content-color: #d4d4d4;
    --content-bg-color: rgba(20, 20, 20, 0.65);
    --divider-color: #a6a6a6;
    --border-color: #d4d4d4;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

h1:focus {
    outline: none;
}

.form-control {
    padding: 15px;
    color: var(--content-color);
    background: var(--content-bg-color);
    border-color: var(--border-color);
}

.form-control:hover {
    color: var(--content-color);
    background: var(--content-bg-color);
    border-color: var(--border-color);
}

.form-control:active {
    color: var(--content-color);
    background: var(--content-bg-color);
    border-color: var(--border-color);
}

.form-control:visited {
    color: var(--content-color);
    background: var(--content-bg-color);
    border-color: var(--border-color);
}

.form-control:focus {
    color: var(--content-color);
    background: var(--content-bg-color);
    border-color: var(--border-color);
}

.loading-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-circle {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading-circle-spin 2s linear infinite;
}

@keyframes loading-circle-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    color: var(--content-color);
    display: block;
}

head, script {
    display: none;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    /*background: linear-gradient(to bottom left, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background-image: url("forest.jpg");
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
}

.stream-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.stream-image {
    min-height: 100px;
    max-height: 175px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}

#pageTitle {
    margin-bottom: 25px;
}

#streamImage {
    margin-bottom: 30px;
}

#streamTitle {
    margin-bottom: 25px;
}

.divider {
    min-height: 3px;
    max-height: 3px;
    margin-bottom: 30px;
    background: var(--divider-color);
    display: block;
}

@media only screen and (min-width: 720px) {
    h1 {
        font-size: 2rem;
    }

    .stream-image {
        max-height: 200px;
    }

    #pageTitle {
        margin-bottom: 40px;
    }

    #streamImage {
        margin-bottom: 40px;
    }

    #streamTitle {
        margin-bottom: 40px;
    }

    .divider {
        margin-bottom: 40px;
        display: block;
    }
}