@page "/"

<PageTitle>dlTube</PageTitle>

<!-- Title -->
<h1 class="fw-bold text-center" id="pageTitle">Download YouTube</h1>

<!-- Divider -->
<div class="divider"></div>

<!-- Stream Image -->
<div class="large-mb stream-image-wrapper" id="streamImage">
    <img class="stream-image" src="default_stream_image.png" alt="Stream Image"/>
</div>

<!-- Stream Title -->
<div class="text-center" id="streamTitle">
    <span class="text-wrap fw-bold">No Stream Selected</span>
</div>

<!-- Divider -->
<div class="divider"></div>

<!-- Api Key Input -->
<form class="m-0 mb-3 p-0 d-flex flex-column align-items-stretch">
    <div class="main-row">
        <label class="form-label" for="ApiKey">Api Key</label>
        <input class="form-control" id="ApiKey" type="text"/>
    </div>
    <div class="main-row d-none">
        <button class="form-control">Save</button>
    </div>
</form>

<!-- Download Form -->
<form class="m-0 mb-3 p-0 d-flex flex-column align-items-stretch">
    <!-- Link Input -->
    <div class="mb-3">
        <label class="form-label" for="Url">Stream Link</label>
        <input class="form-control" id="Url" type="text"/>
    </div>
    
    <!-- Stream Types -->
    <div class="mb-3">
        <label class="form-label" for="StreamType">Stream Type</label>
        <select class="form-control" id="StreamType"></select>
    </div>

    <!-- Stream Qualities -->
    <div class="mb-3">
        <label class="form-label" for="StreamQuality">Stream Quality</label>
        <select class="form-control" id="StreamQuality"></select>
    </div>
    
    <!-- Download Button -->
    <div class="mb-3 mt-4">
        <button class="form-control btn fw-bold">Download</button>
    </div>
    
    <!-- Alert Message -->
    <div class="alert flex-grow-1 d-flex align-items-center justify-content-between mb-0">
        <div>
            
        </div>
        <button class="btn ms-2">
            <i class="oi oi-x"></i>
        </button>
    </div>
</form>